body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

body.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #007bff, #ff6600);
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    box-sizing: border-box;
}


.container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.message {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
.message.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.message.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.message.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.message.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

@media (max-width: 992px) {
     .container {
         width: 100%;
     }
}
