<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - TuAbarrote</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="auth-page">

    <div class="auth-container">
        <div class="auth-form-section">
            <h2>Iniciar Sesión</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div style="margin-bottom: 20px;">
                    {% for category, message in messages %}
                        <p class="message {{ category }}">{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}

            <form method="POST" action="{{ url_for('login') }}">
                <div class="form-group-icon">
                    <input type="text" id="username" name="username" placeholder="Nombre de Usuario" value="{{ username if username is defined }}" required>
                </div>
                <div class="form-group-icon">
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                </div>
                <button type="submit">Entrar</button>
            </form>
            <p>¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
             <p><a href="{{ url_for('index') }}">Volver al Inicio</a></p>
        </div>
        <div class="auth-message-section">
            <h2>Bienvenido de Nuevo a TuAbarrote</h2>
            <p>Inicia sesión para acceder a tu cuenta y disfrutar de las mejores ofertas en abarrotes.</p>
        </div>
    </div>

</body>
</html>
